.preferences {
  display: flex;
  width: 57.5vw;
  min-width: 40rem;
  height: 65vh;

  .tabsList {
    flex-direction: column;
    height: fit-content;

    button {
      width: 10rem;
      align-items: start;
      justify-content: start;
      margin-bottom: 0.25rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .tabsContent {
    padding-left: 0.75rem;
    flex-grow: 1;
    overflow-y: hidden;
  }
}

.scrollArea {
  height: 100%;
  padding-right: 0.5rem;

  .inner {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    max-width: 55rem;

    .title {
      font-weight: 600;
      font-size: larger;
      margin-right: 3rem;
    }

    .subtitle {
      margin-top: 0.25rem;
      color: hsl(var(--muted-foreground));
    }

    .separator {
      margin-top: 1.25rem;
      width: 100%;
      margin-bottom: 1.25rem;
    }
  }
}

.form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-content: space-between;

  .updateButton {
    margin-top: auto;
    width: fit-content;
  }

  & > *:not(:last-child) {
    margin-bottom: var(--form-gap);
  }
}

@media only screen and (max-width: 1200px) {
  .preferences {
    flex-direction: column;

    .tabsList {
      flex-direction: row;
      width: fit-content;
      margin-bottom: 0.5rem;

      button {
        width: fit-content;
        margin-bottom: 0;
      }
    }

    .tabsContent {
      padding-left: 0;
    }
  }

  .scrollArea {
    margin-top: var(--padding);
  }
}
