.background {
  position: fixed;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(5px) brightness(0.5);
  left: 0;
  top: 0;
  z-index: 9;

  .modal {
    background-color: hsl(var(--background));
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    border-radius: var(--radius);
    padding: 1rem;
    border: 0.1rem solid hsl(var(--border));

    .close {
      width: 1.25rem;
      aspect-ratio: 1/1;
      cursor: pointer;
      opacity: 0.6;
      transition: opacity 200ms ease;
      border-radius: var(--radius);
      padding: 0.25rem;
      position: absolute;
      right: 1rem;
      top: 1rem;

      svg {
        fill: hsl(var(--foreground));
      }

      &:hover {
        opacity: 1;
      }
    }

    .header {
      margin-bottom: 1.25rem;

      .title {
        font-weight: 600;
        font-size: x-large;
        margin-right: 3rem;
      }

      .subtitle {
        margin-top: 0.25rem;
        color: hsl(var(--muted-foreground));
      }

      .separator {
        height: 2px;
        margin-top: 1.25rem;
      }
    }
  }
}
