.preferences {
  display: flex;
  width: 57.5vw;
  min-width: 40rem;
  height: 65vh;

  .tabsList {
    flex-direction: column;
    height: fit-content;
    margin-right: 1rem;

    button {
      width: 10rem;
      align-items: start;
      justify-content: start;
      margin-bottom: 0.25rem;

      &:last-of-type {
        margin-bottom: 0rem;
      }
    }
  }

  .tabsContent {
    flex-grow: 1;
  }
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    margin-bottom: 1.25rem;

    .title {
      font-weight: 600;
      font-size: larger;
      margin-right: 3rem;
    }

    .subtitle {
      margin-top: 0.25rem;
      color: hsl(var(--muted-foreground));
    }

    .separator {
      margin-top: 1.25rem;
      width: 100%;
      max-width: 55rem;
    }
  }

  .children {
    overflow: auto;
    margin-bottom: 1rem;
  }

  .footer {
    margin-top: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .preferences {
    flex-direction: column;

    .tabsList {
      flex-direction: row;
      width: fit-content;
      margin-bottom: 0.5rem;

      button {
        width: fit-content;
        margin-bottom: 0rem;
      }
    }
  }
}
