.preferences {
  display: flex;
  width: 57.5vw;
  min-width: 40rem;
  height: 65vh;

  .tabsList {
    flex-direction: column;
    height: fit-content;

    button {
      width: 10rem;
      align-items: start;
      justify-content: start;
      margin-bottom: 0.25rem;

      &:last-of-type {
        margin-bottom: 0rem;
      }
    }
  }

  .tabsContent {
    padding-left: 1rem;
    flex-grow: 1;
  }
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 55rem;

  .header {
    margin-bottom: 1.25rem;

    .title {
      font-weight: 600;
      font-size: larger;
      margin-right: 3rem;
    }

    .subtitle {
      margin-top: 0.25rem;
      color: hsl(var(--muted-foreground));
    }

    .separator {
      margin-top: 1.25rem;
      width: 100%;
    }
  }

  .children {
    overflow: auto;
    flex-grow: 1;
  }
}

.form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-content: space-between;

  .paragraph {
    margin-bottom: 2rem;
  
    &:last-of-type {
      margin-bottom: 0rem;
    }
  
    .paragraphHeader {
      font-weight: 600;
    }
  
    .paragraphFooter {
      font-size: small;
      color: hsl(var(--muted-foreground));
    }
  
    & > *:not(:last-child) {
      margin-bottom: 0.5rem; 
    } 
  }
  
  .updateButton {
    margin-top: auto;
    width: fit-content;
  }
}

@media only screen and (max-width: 1200px) {
  .preferences {
    flex-direction: column;

    .tabsList {
      flex-direction: row;
      width: fit-content;
      margin-bottom: 0.5rem;

      button {
        width: fit-content;
        margin-bottom: 0rem;
      }
    }
  }
}
