.component {
  height: 100%;
  width: 100%;
  padding: var(--padding);

  .list {
    padding: var(--padding);

    .select {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      border-radius: var(--radius);
      cursor: pointer;
      margin-bottom: 0.5rem;


      &:hover {
        background-color: hsl(var(--muted) / 0.5);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .selected {
      background-color: hsl(var(--muted));

      &:hover {
        background-color: hsl(var(--muted));
      }
    }
  }
}