.component {
  height: 100%;
  width: 100%;
  padding: calc(2 * var(--padding));

  .top {
    display: flex;
    margin-bottom: 4rem;

    .left {
      min-height: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .badge {
        margin-bottom: 0.5rem;
      }

      .title {
        font-weight: 600;
        font-size: 1.5rem;
      }

      .button {
        width: fit-content;
      }
    }
  }

  .tabsList {
    margin-bottom: 1.5rem;
  }
}

.infoCards {
  display: flex;
  margin-top: var(--padding);

  .card {
    flex-grow: 1;
    margin-right: var(--padding);

    &:last-of-type {
      margin-right: 0;
    }
  }
}
