.component {
  height: 100%;
  width: 100%;
  padding: var(--padding);

  .list {
    padding: var(--padding);

    .wrapper {
      display: flex;
      margin-bottom: 0.5rem;

      .select {
        flex-grow: 1;
        padding: 0.5rem;
        border-radius: var(--radius);
        cursor: pointer;

        &:hover {
          background-color: hsl(var(--muted) / 0.5);
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .selected {
        background-color: hsl(var(--muted));

        &:hover {
          background-color: hsl(var(--muted));
        }
      }

      .edit {
        margin-left: 0.25rem;
        height: fit-content;
      }
    }
  }
}
