.page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .lower {
    display: flex;
    flex-grow: 1;
    min-height: 0;

    .listView {
      margin-right: var(--padding);
      width: 30rem;
    }

    .details {
      flex-grow: 1;
      min-width: 0;
    }
  }
}