.page {
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
    margin-top: var(--padding);

    .card {
      height: 100%;
    }

    .handle {
      margin-left: var(--padding);
      margin-right: var(--padding);
    }
  }
}
