.tabs {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .content {
    height: calc(100vh - var(--top-bar-height));
    overflow: auto;
    display: flex;
    flex-direction: column;

    .tabsContent {
      flex-grow: 1;
    }
  }
}
