.title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.image {
  cursor: pointer;
  background-color: gray;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: var(--radius);
}
