.sideNav {
  width: var(--side-nav-width);
  height: 100%;
  border-right: 0.1rem solid hsl(var(--border));

  .tabWrapper {
    display: flex;
    width: 100%;

    &:hover {
      background-color: hsl(var(--primary-custom));
    }

    .tab {
      margin-left: 2px;
      flex-grow: 1;
      aspect-ratio: 1/1;
      cursor: pointer;
      padding: 0.75rem;

      svg {
        fill: hsl(var(--foreground));
      }
    }
  }

  .selectedWrapper {
    background-color: hsl(var(--primary));

    &:hover {
      background-color: hsl(var(--primary));
    }

    .selected {
      background-color: hsl(var(--primary-custom));
    }
  }
}
