.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.75rem;
  height: var(--top-bar-height);
  border-bottom: 1px solid hsl(var(--border));

  .astrolog {
    font-weight: 700;
  }
}

.sideNavItem {
  height: 5rem;
  background-color: aqua;

  .itemIcon {
    width: 2rem;
    height: 2rem;
  }
}
