.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: var(--top-bar-height);
  border-bottom: 1px solid hsl(var(--border));
}
