.content {
    display: flex;
    flex: 1 1 0%;
    padding-bottom: 0px;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1200px) {
    .content {
        flex-direction: column;
    }
}

