.tab {
  display: flex;
  flex-direction: column;

  .infoCards {
    display: flex;
    margin-bottom: var(--padding);

    & > * {
      margin-right: var(--padding);

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
