.page {
  display: flex;
  flex-direction: column;

  .buttons {
    & > *:not(:last-child) {
      margin-right: 0.25rem;
    }
  
  }

  .content {
    flex-grow: 1;
    padding-top: var(--padding);
    display: flex;
    justify-content: space-between;

    .tableCard {
      overflow-x: auto;

      .tableWrapper {
        height: 100%;
      }
    }

    .imagePreviewCard {
      margin-left: var(--padding);
      height: fit-content;

      .imagePreview {
        width: 25rem;
        height: 25rem;
        background-color: rgb(202, 202, 202);
        border-radius: var(--radius);
      }
    }
  }
}
