.page {
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
    padding-top: var(--padding);
    display: flex;
    justify-content: space-between;

    .tableCard {
      overflow-x: auto;
      display: flex;
      flex-direction: column;

      .tableHeader {
        display: flex;
        
        .searchField {
          margin-right: 1rem;
          max-width: 20rem;
        }
      }

      .tableContent {
        flex-grow: 1;
        display: flex;
      }
    }

    .imagePreviewCard {
      margin-left: var(--padding);
      height: fit-content;

      .imagePreview {
        width: 25rem;
        height: 25rem;
        background-color: rgb(202, 202, 202);
        border-radius: var(--radius);
      }
    }
  }
}