.page {
  display: flex;
  flex-direction: column;

  .buttons {
    & > *:not(:last-child) {
      margin-right: 0.25rem;
    }
  }

  .content {
    flex-grow: 1;
    padding-top: var(--padding);
    display: flex;
    justify-content: space-between;

    & > *:not(:last-child) {
      margin-right: var(--padding);
    }

    .tableCard {
      overflow-x: auto;
      height: 100%;

      .tableWrapper {
        height: 100%;
      }
    }
  }
}
