.component {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    margin-bottom: var(--padding);

    & > *:not(:last-child) {
      margin-right: 0.25rem;
    }

    .searchField {
      width: 100%;
      max-width: 20rem;
    }
  }

  .tableWrapper {
    border-radius: var(--radius);
    display: flex;
    flex-grow: 1;
  }
}

.delete {
  color: red;

  svg {
    height: 0.9rem;
    fill: red;
  }

  &:hover {
    color: red;
  }
}

.selectedRow {
  background-color: hsl(var(--secondary));
  color: hsl(var(--foreground));

  &:hover {
    background-color: hsl(var(--secondary));
    cursor: default;
  }
}
